<nav class="navbar container-fluid navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="./">Mongo Martial Arts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="nav-link btn btn-danger scrapeBtn text-white">Scrape new links</button>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-success text-white ml-2" href="/saved">Saved links</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container mt-3">
    <div class="row">
        <div class="col-8">
            <div class="newsHeadlines">

            </div>
        </div>
    </div>
</div>
<script src="assets/js/headline.js"></script>
<script src="assets/js/scrapeBtn.js"></script>